<section id="main">
   <div id="thanks">
       <h1>Transaction done sucessfully</h1>
       <div class="thank-you-img">
           <img src="../../../assets/thankyou.jpeg" alt="">
        </div>
        <h1>Keep paying with PayUnit</h1>
   </div>
</section>