#main{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url("../../../assets/bg.png") no-repeat center;
    background-size: 100% 100%;
}
#thanks{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}