#main{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url("../../../assets/bg.png") no-repeat center;
    background-size: 100% 100%;
}
#donate{
    position: relative;
    display: flex;
    justify-content: center;
    top:35%;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
    background-color: #ffe4c4;
    border: 1px solid #ffe4c4;
    border-radius: 1rem;

    button:hover{
        cursor: pointer;
    }
}