<section id="main">
    <ngx-payunit (click)="makePayment()"></ngx-payunit>
    <section id="donate">
        <div>
            <h3 class="title">
                Pay Using Payunit
            </h3>
        </div>
        <div>
            <button (click)="makePayment()">Pay with payunit</button>
        </div>
    </section>
</section>